<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        <title>Gestion Escolar | Listado de alumnos</title>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    </head>

    <body>

        <header th:insert="fragments/menu :: menu-principal"></header>

        <main role="main">     
            <hr>
            <div class="container"> 

                <div class="card">
                 <h4 class="card-header"><strong>Listado de Alumnos - <span th:text="${nombreCurso}"></span></h4>                    
                    <div class="card-body">
                        <a class="btn btn-primary" th:href="@{/alumnos/asignar/{cursoId}(cursoId=${idCurso})}" role="button"><i class="fas fa-file" aria-hidden="true"></i> Asignar alumno</a>            
                        <hr>
                        <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th class="text-center" scope="col">Nombre</th>
									<th class="text-right" scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="alum : ${alumnos}">
                                    <th scope="row" th:text="${alum.id}"></th>
                                    <td class="text-center" th:text="${alum.nombre + ' ' + alum.apellidos}"></td>
                                    <td class="text-right">
                                        <a th:href="@{/alumnos/eliminar/{cursoId}/{alumnoId}(cursoId=${idCurso}, alumnoId=${alum.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar"><i class="fas fa-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>                              
                            </tbody>
                        </table>

                         <nav th:if="${alumno != null}" aria-label="Page navigation example" >
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${alumno.number == 0 ? 'disabled' : ''}">
                                    <a th:href="@{/alumnos/index(page=${alumno.number - 1})}" class="page-link">Anterior</a>
                                </li>

                                <li class="page-item" th:classappend="${i eq alumno.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, alumno.totalPages, 1)}">
                                    <a class="page-link" th:href="@{/alumnos/index?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item" th:classappend="${alumno.number == (alumno.totalPages - 1) ? 'disabled' : ''}">
                                    <a th:href="@{/alumnos/index(page=${alumno.number + 1})}" class="page-link">Siguiente</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div> <!-- /container -->

        </main>

        <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
    </body>
</html>